<!DOCTYPE html>
<html>

<head>
    <title>전체 상품</title>
    <%- include('config') %>
</head>

<body>
    <%- include('recent') %>
    <%- include('top') %>
    <% if(word) { %>
    <div class=" search-result">
        <label><b><%=word%></b>(으)로 검색한 결과 <b><%=items.length%>건</b></label>
    </div>
    <% } %>
    <section>
        <div class="center">
            <br>
            <h3 class="h gray">전체 상품</h3>
            <div class="grid-4">
                <% for(var i=0; i<items.length; i++) { %>
                    <div class="item" data-id="<%=items[i].ID%>">
                        <div class=" my-item-img-container">
                            <img src="/public/uploads/<%=items[i].File1%>" class="my-item-img">
                        </div>
                        <label class=" gray size-12"><%=items[i].Name%></label>
                        <label class="size-14" style="margin-top: 10px;"><%=items[i].Price.toLocaleString()%>원</label>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>
    <br><br><br><br>
    <%- include('footer') %>
</body>

</html>