<!DOCTYPE html>
<html>

<head>
    <title>장바구니</title>
    <%- include('config') %>
    <script>
        $(function () {
            addItem();
            setCheck();
            setRemove();
            setOrder();
        });
        function setCheck() {
            $('#check-all').change(function () {
                const checked = $(this).is(':checked');
                $('input[name="remove"]').prop('checked', checked);
                $('input[name="remove"]').trigger('change');
            });
        }
        function setRemove() {
            $('#remove-select').click(function () {
                const removes = $('input:checked[name="remove"]');

                if (removes.length == 0) {
                    alert('삭제할 상품을 선택해주세요');
                    return;
                } else {
                    if (confirm('선택할 상품을 장바구니에서 삭제하시겠습니까?')) {
                        var ids = [];
                        for (var i = 0; i < removes.length; i++) {
                            ids.push($(removes[i]).data('id'));
                        }
                        $.post('/ajax/Cart/Remove', {
                            ids: ids
                        }, function (data) {
                            if (data.Result) {
                                alert('선택한 상품이 삭제되었습니다.');
                                location.reload();
                            } else {
                                alert('오류가 발생하였습니다.');
                            }
                        });
                    }
                }
            });

            $('#remove-soldout').click(function () {
                if (confirm('품절/판매종료 상품을 삭제하시겠습니까?')) {
                    const removes = $('.og-qty[data-qty=0]');
                    if (removes.length != 0) {
                        var ids = [];
                        for (var i = 0; i < removes.length; i++) {
                            ids.push($(removes[i]).data('id'));
                        }
                        $.post('/ajax/Cart/Remove', {
                            ids: ids
                        }, function (data) {
                            if (data.Result) {
                                alert('품절/판매종료 상품이 삭제되었습니다.');
                                location.reload();
                            } else {
                                alert('오류가 발생하였습니다.');
                            }
                        });
                    } else {
                        alert('품절/판매종료이 존재하지 않습니다.');
                    }
                }
            });
        }
        var price = 0, delivery = 0, total = 0;
        var items=[], qty=[];
        function addItem() {
            $('input[name="remove"]').change(function () {
                const item = $('input:checked[name="remove"]');
                price = 0;
                delivery = 0;
                total = 0;
                items=[];
                qty=[];
                for (var i = 0; i < item.length; i++) {
                    price += $(item[i]).data('price')*$(item[i]).data('qty');
                    delivery += 2500;
                    items.push($(item[i]).data('id'));
                    qty.push($(item[i]).data('qty'));
                }
                total = price + delivery;
                $('#item-price').text(price.toLocaleString() + ' 원');
                $('#delivery-price').text(delivery.toLocaleString() + ' 원');
                $('#total-price').text(total.toLocaleString() + ' 원');
            });
        }

        function setOrder() {
            $('#order-btn').click(function () {
                if (total == 0) {
                    alert('선택한 상품이 없습니다.');
                } else {
                    if (confirm('선택한 상품을 주문하시겠습니까?')) {
                        console.log(items);
                        location.href=`/Order?item=${items}&qty=${qty}`;
                    }
                }
            });

        }
    </script>
</head>

<body>
    <%- include('top') %>
    <section class="center">
        <br>
        <p class="title">장바구니</p>
        <br>
        <table class="main">
            <thead class="thead">
                <th class="th"><input type="checkbox" id="check-all"></th>
                <th class="th">상품정보</th>
                <th class="th">수량</th>
                <th class="th">상품금액</th>
                <th class="th">배송비</th>
            </thead>
            <tbody>
                <% for(var i=0; i<cart.length; i++) { %>
                <tr>
                    <td class="check" style="width: 10%;">
                        <div class="check">
                            <input name="remove" data-id="<%=cart[i].ID%>" type="checkbox"
                                data-price="<%=cart[i].Price%>" data-qty="<%=cart[i].CartQty%>">
                        </div>
                    </td>
                    <td>
                        <div class=" horizontal">
                            <div class=" small-img-container">
                                <img class=" small-img" src="/public/uploads/<%=cart[i].File1%>">
                            </div>
                            <label class="gray"><%=cart[i].Name%>&nbsp;&nbsp;</label>
                            <label class="gray"><%=cart[i].Unit%></label>
                        </div>

                    </td>
                    <td class="middle">
                        <p class="og-qty" data-qty="<%=cart[i].Qty%>" data-id="<%=cart[i].ID%>">
                            <%=cart[i].CartQty.toLocaleString()%>개</p>
                    </td>
                    <td class="middle">
                        <b><%=cart[i].Price.toLocaleString()%>원</b>
                    </td>
                    <td class="middle">
                        2,500원
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="horizontal bottom-div">
            <button class="btn-trd" id="remove-select">선택삭제</button>
            <button class="btn-trd" style="margin-left: 10px;" id="remove-soldout">품절/판매종료 삭제</button>
        </div><br>
        <div class=" calc-container">
            <div class=" calc-form horizontal">
                <div>
                    <p class=" gray">총 상품 가격</p>
                    <p class="size-14" id="item-price">0원</p>
                </div>
                <img src="/public/images/plus.png" width="30" height="30" style="margin: 0px 30px 0px 30px;">
                <div>
                    <p class=" gray">총 배송비</p>
                    <p class="size-14" id="delivery-price">0원</p>
                </div>
                <img src="/public/images/equal.png" width="30" height="15" style="margin: 0px 30px 0px 30px;">
                <div>
                    <p class=" gray">총 주문금액</p>
                    <p class="size-14"><b class=" oragne" id="total-price">0원</b></p>
                </div>
            </div><br>
            <button class=" btn-main btn-block" id="order-btn">주문하기</button>
            <br><br><br><br><br>
        </div>
    </section>
    <%- include('footer') %>
</body>

</html>