<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>관리자</title>
    <script>
        $(function () {
            setTabs();
            setTrSearch();
            setImageBtns();
            setEvents();
            setStatsticsDate();
            getAsks();
            setOrder();
            setOrderByStatus();
            setSeason();
        });
        function setTabs() {
            $('.my-tab').click(function () {
                const div = $(this).data('div');
                $('.manager-div').fadeOut(300);
                $(`#${div}`).fadeIn(300);
                $('.my-tab').removeClass('my-tab-active');
                $(this).addClass('my-tab-active');
            });

            $($('.my-tab')[0]).trigger('click');
        }

        function setTrSearch() {
            $('#maker-search-input').keyup(function () {
                const word = $(this).val();
                if (word != '') {
                    $('.maker-tr').hide();
                    $(`.maker-tr[data-name*='${word}']`).show();
                } else {
                    $('.maker-tr').show();
                }

            });
            $('#consumer-search-input').keyup(function () {
                const word = $(this).val();
                if (word != '') {
                    $('.consumer-tr').hide();
                    $(`.consumer-tr[data-name*='${word}']`).show();
                } else {
                    $('.consumer-tr').show();
                }

            });
        }

        function setImageBtns() {
            $('.img-btn').click(function () {
                const event = $(this).data('event');
                $(`#${event}`).trigger('click');
            });
        }

        function setEvents() {
            $('.event-file').change(function () {
                const event = $(this).data('event');
                const form = $(`#event-form${event}`)[0];

                var formData = new FormData(form);
                console.log(form);
                console.log(formData);

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/ajax/Manager/Update/Event",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        alert('이미지가 변경되었습니다.');
                        $(`#event-img${event}`).attr('src', `/public/uploads/${data.Path}`);
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            });
        }

        function setStatsticsDate() {
            const inputDate = $('#statstics-date');
            const inputMonth = $('#statstics-month');

            inputDate.change(function () {
                const date = $(this).val();
                $.get(`/ajax/Manage/Get/Stastics/Date?date=${date}`,
                    function (data) {
                        $('#s-date').html(
                            `<td style="width: 16.6%;">${data.order.toLocaleString()}</td>
                          <td style="width: 16.6%;">${data.order.toLocaleString()}</td>
                        <td style="width: 16.6%;">${data.cancel.toLocaleString()}</td>
                        <td style="width: 16.6%;">${data.price ? data.price.toLocaleString() : 0}</td>
                        <td style="width: 16.6%;">${data.Visit.toLocaleString()}</td>
                        <td style="width: 16.6%;">${data.signUp.toLocaleString()}</td>`
                        );
                    });
            });
            inputMonth.change(function () {
                const month = $(this).val();
                $.get(`/ajax/Manage/Get/Stastics/Month?month=${month}`,
                    function (data) {
                        $('#s-month').html(
                            `<td style="width: 16.6%;">${data.order.toLocaleString()}</td>
                          <td style="width: 16.6%;">${data.order.toLocaleString()}</td>
                        <td style="width: 16.6%;">${data.cancel.toLocaleString()}</td>
                        <td style="width: 16.6%;">${data.price ? data.price.toLocaleString() : 0}</td>
                        <td style="width: 16.6%;">${data.Visit.toLocaleString()}</td>
                        <td style="width: 16.6%;">${data.signUp.toLocaleString()}</td>`
                        );
                    });
            });
            const date = new Date();
            var dateStr = date.getFullYear() + '-';
            if (date.getMonth() < 9) {
                dateStr += '0';
            }
            dateStr += (date.getMonth() + 1);
            inputMonth.attr('max', dateStr);
            inputMonth.val(dateStr).trigger('change');
            dateStr += '-';
            if (date.getDate() < 10) {
                dateStr += '0';
            }
            dateStr += date.getDate();
            inputDate.attr('max', dateStr);
            inputDate.val(dateStr).trigger('change');
        }

        function getAsks() {
            var html = '';
            $.get('/ajax/Manage/Get/Ask', (data) => {
                for (item of data) {
                    html += `
                    <tr style='text-align:center; height:40px' class='point ask-tr' data-id='${item.ID}'>
                        <td style='width:10%'>${item.ID}</td>
                        <td style='width:30%'>${item.Title}</td>
                        <td style='width:20%'>${item.Name}/${item.Owner}</td>
                        <td style='width:20%'>${item.Phone}</td>
                        <td style='width:20%'>${item.Date}</td>
                    </tr>`
                }
                $('#ask-body').html(html);
                $('.ask-tr').click(function () {
                    const id = $(this).data('id');
                    location.href = `/Manager/Ask/Recevie?id=${id}`;
                });
            });
        }

        function setOrder() {
            const select_order = $('#order-date');
            const table = $('#order-status-table');
            var html = '';
            select_order.change(function () {
                const date = $(this).val();
                $.get(`/ajax/Manage/OrderStatus?date=${date}`, (data) => {
                    html = `
                    <tr style='text-align:center; height:40px'>
                        <td style='width:20%'>${data.rs1 + data.rs2 + data.rs3 + data.rs4}</td>
                        <td style='width:20%'>${data.rs1}</td>
                        <td style='width:20%'>${data.rs2}</td>
                        <td style='width:20%'>${data.rs3}</td>
                        <td style='width:20%'>${data.rs4}</td>
                    </tr>`;
                    table.html(html);
                });
            });

            const date = new Date();
            var dateStr = date.getFullYear() + '-';
            if (date.getMonth() < 9) {
                dateStr += '0';
            }
            dateStr += (date.getMonth() + 1) + '-';
            if (date.getDate() < 10) {
                dateStr += '0';
            }
            dateStr += date.getDate();
            select_order.val(dateStr).trigger('change');
        }

        function setOrderByStatus() {
            const select = $('#order-by-status');
            const table = $('#order-by-status-body');

            select.change(function () {
                const sts = $(this).val();
                $.get(`/ajax/Manage/OrderByStatus?status=${sts}`, (data) => {
                    var html = '';
                    for (item of data) {
                        html += `
                        <tr style='height:40px; text-align:center'>
                            <td style='width:15%'>${item.ItemName}</td>
                            <td style='width:10%'>${item.Qty}</td>
                            <td style='width:15%'>${item.Date}</td>
                            <td style='width:15%'>${item.MemberName}</td>
                            <td style='width:30%'>${item.MyAddr}</td>
                            <td style='width:15%'>${item.Price.toLocaleString()}</td>
                        </tr>`;
                    }
                    table.html(html);
                });
            });
            select.val(1).trigger('change');
        }

        function setSeason() {
            $('#season-btn').click(function () {
                if (confirm('제철 상품을 수정하시겠습니까?')) {
                    const items = $('.season-check:checked');
                    var ids = Array();
                    for (var item of items) {
                        const id = $(item).data('id');
                        ids.push(id);
                    }
                    console.log(ids);
                    $.post('/ajax/Manage/Season', { ids: ids }, function (data) {
                        if (data.Result) {
                            alert('제철 상품이 수정되었습니다.');
                        } else {
                            alert('오류가 발생하였습니다.');
                        }
                    });
                }
            });
        }
    </script>
</head>

<body>
    <%- include('top') %>
    <section class="center">
        <p class="title">관리자 페이지</p>
        <div class="my-container">
            <div class="my-tab-container">
                <div class="my-tab point my-tab-active" data-div="div-statistics">
                    <p>통계</p>
                </div>
                <div class="my-tab point" data-div="div-maker">
                    <p>생산자 관리</p>
                </div>
                <div class="my-tab point" data-div="div-consumer">
                    <p>소비자 관리</p>
                </div>
                <div class="my-tab point" data-div="div-order">
                    <p>매출/주문 관리</p>
                </div>
                <div class="my-tab point" data-div="div-design">
                    <p>이벤트 관리</p>
                </div>
                <div class="my-tab point" data-div="div-ask">
                    <p>문의 관리</p>
                </div>
                <div class="my-tab point" data-div="div-season">
                    <p>제철 상품 관리</p>
                </div>
            </div>
            <!-- contents -->
            <div class="my-tab-info" style="min-height: 500px;">
                <!-- 통계 -->
                <div id="div-statistics" class="manager-div">
                    <!-- 회원 -->
                    <p class="size-15">전체 회원 수</p>
                    <table style="width: 300px;">
                        <thead class="thead">
                            <th class="th">생산자</th>
                            <th class="th">소비자</th>
                        </thead>
                        <tbody>
                            <tr style="text-align: center; height: 40px;">
                                <td><%=(maker.length).toLocaleString()%>명</td>
                                <td><%=(consumer.length).toLocaleString()%>명</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- 날짜별 -->
                    <div class=" horizontal">
                        <p class="size-15" style="margin-right: 10px;">일별</p>
                        <input type="date" class="trasparent size-12" id="statstics-date">
                    </div>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">총 주문수</th>
                            <th class="th">결제<br>(입금완료)</th>
                            <th class="th">취소/반품</th>
                            <th class="th">매출액</th>
                            <th class="th">방문자수</th>
                            <th class="th">회원가입 수</th>
                        </thead>
                        <tbody>
                            <tr style="text-align: center; height: 40px;" id="s-date">
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- 월별 -->
                    <div class=" horizontal">
                        <p class="size-15" style="margin-right: 10px;">월별</p>
                        <input type="month" class="trasparent size-12" id="statstics-month">
                    </div>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">총 주문수</th>
                            <th class="th">결제<br>(입금완료)</th>
                            <th class="th">취소/반품</th>
                            <th class="th">매출액</th>
                            <th class="th">방문자수</th>
                            <th class="th">회원가입 수</th>
                        </thead>
                        <tbody>
                            <tr style="text-align: center; height: 40px;" id="s-month">
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                                <td style="width: 16.6%;">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 생산자 관리 -->
                <div id="div-maker" class="manager-div">
                    <div class="horizontal between">
                        <div class=" horizontal">
                            <p class=" size-15" style="margin-right: 20px;">생산자 관리</p>
                            <p>총 <%=(maker.length).toLocaleString()%>명</p>
                        </div>
                        <div class="search-box horizontal" style="background-color:#f9f9f9;">
                            <img src="/public/images/search.png" width="20" height="20">
                            <input class="trasparent size-10" type="text" id="maker-search-input"
                                style="margin-left: 10px;" placeholder="생산자명 검색">
                        </div>
                    </div>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th size-10">이름</th>
                            <th class="th size-10">아이디</th>
                            <th class="th size-10">성별</th>
                            <th class="th size-10">전화번호</th>
                            <th class="th size-10">생산지역</th>
                            <th class="th size-10">가입일</th>
                            <th class="th size-10">월 판매액</th>
                            <th class="th size-10">총 판매액</th>
                            <th class="th size-10">계좌</th>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<maker.length; i++) { %>
                            <tr class=" size-10 maker-tr" style="text-align: center; height: 50px;"
                                data-name="<%=maker[i].Name%>">
                                <td style="width: 10%;"><%=maker[i].Name%></td>
                                <td style="width:10%"><%=maker[i].ID%></td>
                                <td style="width:5%"><%=maker[i].Gender=='m'?'남성':'여성'%></td>
                                <td style="width:10%"><%=maker[i].Phone%></td>
                                <td style="width:15%"><%=maker[i].MakeAddr%></td>
                                <td style="width:10%"><%=maker[i].SignUp%></td>
                                <td style="width:10%"><%=maker[i].MonthPrice?maker[i].MonthPrice.toLocaleString():0%>
                                </td>
                                <td style="width:10%"><%=maker[i].TotalPrice?maker[i].TotalPrice.toLocaleString():0%>
                                </td>
                                <td style="width:15%"><%=maker[i].Bank%><br><%=maker[i].BankAddr%></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- 소비자 관리 -->
                <div class="manager-div" id="div-consumer">
                    <div class="horizontal between">
                        <div class=" horizontal">
                            <p class=" size-15" style="margin-right: 20px;">소비자 관리</p>
                            <p>총 <%=(consumer.length).toLocaleString()%>명</p>
                        </div>
                        <div class="search-box horizontal" style="background-color:#f9f9f9;">
                            <img src="/public/images/search.png" width="20" height="20">
                            <input class="trasparent size-10" type="text" id="consumer-search-input"
                                style="margin-left: 10px;" placeholder="소비자명 검색">
                        </div>
                    </div>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">이름</th>
                            <th class="th">아이디</th>
                            <th class="th">성별</th>
                            <th class="th">전화번호</th>
                            <th class="th">주소</th>
                            <th class="th">가입일</th>
                            <th class="th">구매액</th>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<consumer.length; i++) { %>
                            <tr style="text-align: center; height: 50px;" class="consumer-tr"
                                data-name="<%=consumer[i].Name%>">
                                <td style="width: 10%;"><%=consumer[i].Name%></td>
                                <td style="width: 10%;"><%=consumer[i].ID%></td>
                                <td style="width: 5%;"><%=consumer[i].Gender=='m'?'남성':'여성'%></td>
                                <td style="width: 10%;"><%=consumer[i].Phone%></td>
                                <td style="width: 15%;"><%=consumer[i].MyAddr%></td>
                                <td style="width: 10%;"><%=consumer[i].SignUp%></td>
                                <td style="width: 10%;"><%=consumer[i].Price.toLocaleString()%></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- 주문/매출관리 -->
                <div class="manager-div" id="div-order">
                    <p class="size-15">매출/주문 관리</p>
                    <div class=" horizontal">
                        <p class="size-15" style="margin-right: 10px;">일별</p>
                        <input type="date" class="trasparent size-12" id="order-date">
                    </div>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">총 주문</th>
                            <th class="th">입금 미확인</th>
                            <th class="th">입금 확인</th>
                            <th class="th">배송중</th>
                            <th class="th">배송 완료</th>
                        </thead>
                        <tbody id="order-status-table">

                        </tbody>
                    </table>
                    <div class=" horizontal">
                        <p class="size-15" style="margin-right: 10px;">상태별</p>
                        <select class="trasparent size-13" id="order-by-status">
                            <option value="1">입금 미확인</option>
                            <option value="2">입금 확인</option>
                            <option value="3">배송중</option>
                            <option value="4">배송 완료</option>
                        </select>
                    </div>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">주문 상품</th>
                            <th class="th">수량</th>
                            <th class="th">일자</th>
                            <th class="th">구매자명</th>
                            <th class="th">구매자 주소</th>
                            <th class="th">구입 금액</th>
                        </thead>
                        <tbody id="order-by-status-body">

                        </tbody>
                    </table>
                </div>
                <!-- 디자인 관리 -->
                <div class="manager-div" id="div-design">
                    <div class="horizontal between" style="width: 100%;">
                        <img class="banner-manage"
                            src="/public/<%=events[0].Path?'uploads/'+events[0].Path:'images/no_image.png'%>"
                            id="event-img1">
                        <form enctype="multipart/form-data" id="event-form1">
                            <input type="file" hidden id="event1" class="event-file" data-event="1" accept="image/*"
                                name="event_file">
                            <input hidden value="1" name="priority">
                        </form>
                        <button type="button" class="btn-main img-btn" data-event="event1">변경</button>
                    </div>
                    <br><br>
                    <div class="horizontal between" style="width: 100%;">
                        <img class="banner-manage"
                            src="/public/<%=events[1].Path?'uploads/'+events[1].Path:'images/no_image.png'%>"
                            id="event-img2">
                        <form enctype="multipart/form-data" id="event-form2">
                            <input type="file" hidden id="event2" class="event-file" data-event="2" accept="image/*"
                                name="event_file">
                            <input hidden value="2" name="priority">
                        </form>
                        <button type="button" class="btn-main img-btn" data-event="event2">변경</button>
                    </div>
                    <br><br>
                    <div class="horizontal between" style="width: 100%;">
                        <img class="banner-manage"
                            src="/public/<%=events[2].Path?'uploads/'+events[2].Path:'images/no_image.png'%>"
                            id="event-img3">
                        <form enctype="multipart/form-data" id="event-form3">
                            <input type="file" hidden id="event3" class="event-file" data-event="3" accept="image/*"
                                name="event_file">
                            <input hidden value="3" name="priority">
                        </form>
                        <button type="button" class="btn-main img-btn" data-event="event3">변경</button>
                    </div>
                    <br><br>
                    <div class="horizontal between" style="width: 100%;">
                        <img class="banner-manage"
                            src="/public/<%=events[3].Path?'uploads/'+events[3].Path:'images/no_image.png'%>"
                            id="event-img4">
                        <form enctype="multipart/form-data" id="event-form4">
                            <input type="file" hidden id="event4" class="event-file" data-event="4" accept="image/*"
                                name="event_file">
                            <input hidden value="4" name="priority">
                        </form>
                        <button type="button" class="btn-main img-btn" data-event="event4">변경</button>
                    </div>
                    <br><br>
                </div>
                <!-- 문의사항 관리 -->
                <div class="manager-div" id="div-ask">
                    <p class="size-15">미 답변된 문의</p>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">#</th>
                            <th class="th">제목</th>
                            <th class="th">문의자<br>(이름/ID)</th>
                            <th class="th">연락처</th>
                            <th class="th">작성시간</th>
                        </thead>
                        <tbody id="ask-body">

                        </tbody>
                    </table>
                </div>
                <!-- 제철 상품 관리 -->
                <div class="manager-div" id="div-season">
                    <p class="size-15">제철 상품 관리</p>
                    <table style="width: 100%;">
                        <thead class="thead">
                            <th class="th">선택</th>
                            <th class="th">상품 이미지</th>
                            <th class="th">상품정보</th>
                            <th class="th">가격/재고</th>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<items.length; i++) { %>
                            <tr>
                                <td class="check" style="width: 10%;">
                                    <div class="check ">
                                        <input class="season-check" data-id="<%=items[i].ID%>" type="checkbox"
                                            <%=items[i].Season?'checked':''%>>
                                    </div>
                                </td>
                                <td style="width: 15%;">
                                    <div class=" small-img-container">
                                        <img class=" small-img" src="/public/uploads/<%=items[i].File1%>">
                                    </div>
                                </td>
                                <td style="width: 60%;">
                                    <div class="info-div">
                                        <label class="gray">등록날짜</label>
                                        <% var date=new Date(items[i].MDate);
                                                    var dateStr=date.getFullYear()+'-'; 
                                                    if(date.getMonth()<9){
                                                        dateStr+='0';
                                                    }
                                                    dateStr+=(date.getMonth()+1)+'-';
                                                    if(date.getDate()<10) {
                                                        dateStr+='0';
                                                    }
                                                    dateStr+=date.getDate(); %>
                                        <label class="gray"><%=dateStr%></label>
                                        <label class="gray">등록번호</label>
                                        <label class="gray"><%=items[i].ID%></label>
                                        <label class="gray">상품명</label>
                                        <label class="gray"><%=items[i].Name%></label>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <label class="gray"><%=items[i].Price.toLocaleString()%>원</label><br>
                                    <label class="gray">재고: <%=items[i].Qty.toLocaleString()%></label>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                    <div class=" horizontal between">
                        <label></label>
                        <button class=" btn-main" type="button" id="season-btn">제철 상품 수정</button>
                    </div>

                </div>
            </div>
        </div>
        <br>
    </section>
    <%- include('footer') %>
</body>

</html>